body {
  font-family: helvetica;
  text-align: center;
}
/*navigation*/
nav {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  font-weight: bold;
}
a:link, a:visited, a:hover {
  color: white;
}

h2 {
  font-size: 70px;
  font-weight: bold;
}
.nav-menu li {
  font-size: 18px;
  list-style: none;
  margin-top: 10px;
  padding-right: 20px;
}
/*main*/
h3 {
  font-size: 32px;
  font-weight: bold;
}
h4 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
#title {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  margin-left: 50px;
  margin-right: 50px;
}
#contact ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  list-style: none;
}
/*footer*/
footer {
  background-color: dimgray;
  color: white;
  height: 17px;
  margin-left: 50px;
  margin-right: 50px;

}
footer p {
  font-size: 11px;
  float: left;
}
footer {
  text-align: left;
}
.contact li {
  list-style: none;
}
footer ul li {
  list-style: none;
  display: inline;
  font-size: 11px;
  margin-left: 5px;
  font-weight: bold;

}
footer li #companymark {
  padding-bottom: 5px;
}
